<div class="slider-box">
    <ul>
        <li>
            <img src="/img/biog.jpg" alt="">
            <div class="texto">
            </div>
        </li>
        <li>
            <img src="/img/s3.png" alt="">
            <div class="texto">
                <h2>Biotecnologia</h2>
                <p>
                    "La biotecnología es el puente entre la ciencia y la naturaleza, donde los avances tecnológicos nos
                    permiten comprender, mejorar y aprovechar el potencial de la vida para el beneficio de la
                    humanidad."
                </p>
            </div>
        </li>
        <li>
            <img src="/img/s2.png" alt="">
            <div class="texto">
                <h2>Compañerismo</h2>
                <p>

                    "El compañerismo en la biotecnología es como el entrelazamiento de moléculas en una reacción
                    enzimática: cada uno aporta su fuerza única, colaborando en armonía para alcanzar objetivos comunes
                    y desbloquear el potencial de la investigación científica."
                </p>
            </div>
        </li>
        <li>
            <img src="/img/s1.png" alt="">
            <div class="texto">
                <h2>Amistad</h2>
                <p>
                    "En la biotecnología, la amistad es como un ADN compartido: colaborativa, resiliente y fundamental
                    para el éxito en la búsqueda conjunta de soluciones innovadoras que impacten positivamente en el
                    mundo."
                </p>
            </div>
        </li>
    </ul>
    <div class="puntos">
        <span class="punto"></span>
        <span class="punto"></span>
        <span class="punto"></span>
        <span class="punto"></span>
    </div>
</div>