<div class="card-container">
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b5.jpg" alt="Imagen 1">
            <div class="card-info">
                <h2> desinfectamos el área y el material y tomamos el tubo positivo</h2>
            </div>
        </div>
    </a>
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b6.jpg" alt="Imagen 2">
            <div class="card-info">
                <h2> tranferimos con una sabarteorologica al tubo con caldo bien deslactosado lo incuvamos a 35 grados
                    por 48 horas tomar de alguno de los tubos</h2>
            </div>
        </div>
    </a>
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b7.jpg" alt="Imagen 3">
            <div class="card-info">
                <h2>Se calienta y se coloca en los tubos para previamente esterilizar el azul de metileno son 36 gramos
                    de polvo para un litro de agua</h2>
            </div>
        </div>
    </a>
    <a href="#" class="card">
        <div class="image-container">
            <img src="img/b4.jpg" alt="Imagen 3">
            <div class="card-info">
                <h2>Se deja reposar por 5 min despues se calienta hasta el punto de ebullición para previamente meter a
                    esterilizar por 30 min los resultados de esta práctica fueron muy Buenos y de las muestras</h2>
            </div>
        </div>
    </a>
</div>