
<footer>
  <div class="container">
      <div class="footer-logo">
          <!-- Reemplaza esta sección con los iconos de redes sociales -->
          <ul class="social-icons">
              <li><a href="https://www.facebook.com/Cecyte20?locale=es_LA"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/CECyTEM"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.tiktok.com/@cecytemichoacan?lang=es"><i class="fab fa-tiktok"></i></a></li>
          </ul>
      </div>
      <div class="footer-message">
          <p>© 2024 CeCyte Plantel 20 Uruapan Biotecnologia Todos los derechos reservados.</p>
      </div>
  </div>
</footer>